body {
    background: gainsboro;
}
.page-div {
    position: relative;
    align-content: center;
    flex-grow: 1;
}
.button-div-left {
    position: relative;
    align-content: center;
    float: left;
    padding-left: 50px;
}
.button-div-right {
    position: relative;
    align-content: center;
    float: right;
    padding-right: 50px;
}
.buttons {
    position: relative;
    float: inside;
    padding: 75px;
}
.content {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 25px;
    text-align: center;
    align-items: center;
}
.left-content {
    float: left;
    width: 70%;
}
.right-content {
    float: left;
    width: 30%;
}
.right-compliment-div {
    height: 150px;
    padding: 15px;
    white-space: normal
}
.text {
    font-size: 32px;
}
input {
    font-size: 26px;
    background: white;
    width: 150px;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 3px solid #555;
}
input[type=image] {
    background: gainsboro;
    width: 303px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=image]:hover {
    background: #555;
    border: 3px solid #555;
}
button {
    font-size: 26px;
    background: gainsboro;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
button:hover {
    border: 3px solid #555;
}
