<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compliments</title>
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body>
<div class="content">
    <div class="left-content">
        <div class="page-div">
            <div class="right-compliment-div">
                <p class="text" th:text="${name.myName}"></p>
            </div>
        </div>
        <br>
        <div class="buttons">
            <form th:action="@{/enough}">
                <div class="button-div-left">
                    <button type="submit">Enough compliments!</button>
                </div>
            </form>
            <form th:action="@{/complimenter}">
                <div class="button-div-right">
                    <button type="submit">Give me compliments!</button>
                </div>
            </form>
        </div>
    </div>
    <div class="right-content">
        <img width="100%" th:src="@{${'images/page2dynamicMiddle/'+ number.num  + '.jpg'}}" alt="Dynamic picture">
    </div>
</div>
</body>
</html>
